@model BaiLam.Models.ProjectDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<body class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="card mb-4">
                    <div class="card-header">
                        @*<i class="fas fa-user mr-1"></i>*@
                        <span class="something">Delete from project: @Html.DisplayFor(Model => Model.project.ProjectName) <br />User: @Html.DisplayFor(Model => Model.employee.Name)</span>
                    </div>
                    <div class="card-body">
                        <div class="col"></div>
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.employee)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.employee.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.project)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.project.ProjectName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Mon)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Mon)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Tue)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Tue)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Wed)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Wed)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Thur)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Thur)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Fri)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Fri)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.HoursWorked)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.HoursWorked)
                                </dd>
                            </dl>

                            <form asp-action="Delete">
                                <input type="hidden" asp-for="detailID" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a class="btn btn-secondary" href="@ViewBag.returnUrl">Back to List</a>
                            </form>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Trần Tuấn Khải & Cao Minh Phát</div>
                        <div>
                            <a asp-action="Index">2020</a>
                            &middot;
                            <a asp-action="Index">2021</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>