@model IEnumerable<BaiLam.Models.ProjectDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<body class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <div class="card mb-4">
                <div class="card-header">
                    <p>
                        <a class="btn btn-success" asp-action="Create" asp-route-id="@ViewBag.ProID">Assign employee</a>
                    </p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.employee.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.employee.role)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mon)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Tue)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Wed)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Thur)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Fri)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HoursWorked)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.project)
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.employee.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.employee.role.RolesName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Mon)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Wed)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Thur)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Fri)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HoursWorked)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.project.ProjectName)
                                        </td>

                                        <td>
                                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.detailID">Edit</a> |
                                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.detailID">Details</a> |
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.detailID">Delete</a>
                                            <a class="btn btn-success" asp-action="Excel" asp-route-id="@item.detailID">Export</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <a class="btn btn-secondary" asp-controller="Projects" asp-action="Index">Back</a>
            </div>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Trần Tuấn Khải & Cao Minh Phát</div>
                        <div>
                            <a asp-action="Index">2020</a>
                            &middot;
                            <a asp-action="Index">2021</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
